@charset "UTF-8";
body{
  font-family: "ヒラギノ角ゴ Pro W3",Hiragino Kaku Gothic Pro,"メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  user-select: none; 
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-drag: none; 
  -khtml-user-drag: none; 
  -ms-user-select: none;
}
div.content_center{
  text-align: center;
  width: 1140px;
}
.clearfix:after {
  content: "";
  clear: both;
  display: block;
}
div.pallete {
  float: left;
  width: 60px;
  height: 30px;
  margin: 2px;
}
div.pallete>div{
  display: none;
}
div.pallete>div.selected {
  display: block;
  height: 28px;
  margin-top: -1px;
  border: 2px solid;
}
div.float-box {
  float: left;
  width: 400px;
  margin-left: 20px;
}
div.float-box>div {
  float: left;
}

.debug {
  display: none;
}
