@charset "UTF-8";
body{
  font-family: "ヒラギノ角ゴ Pro W3",Hiragino Kaku Gothic Pro,"メイリオ",Meiryo,"ＭＳ Ｐゴシック",sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.6;
  user-select:none; 
  -webkit-user-select:none;
  -moz-user-select:none;
  -khtml-user-select:none;
  -webkit-user-drag:none; 
  -khtml-user-drag:none; 
  -ms-user-select:none;
  
}
div.content_center{
  text-align:center;
  width:100%;
}
div.pallete {
  float:left;
  width:60px;
  height:30px;
  margin:2px;
}
div.pallete>div{
  display:none;
}
div.pallete>div.selected {
  display:block;
  height:10px;
  margin-top:10px;
  background-color:white;
}
@media only screen and (max-width:600px){
}
